@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ivyMode;
    src: url(/fonts/IvyMode-Regular.ttf);
}

@font-face {
    font-family: roobert;
    src: url(/fonts/RoobertLight.ttf);
}

:root {
    --nightmare-black:#000;
    --white:#fff;
    --ivy-mode-regular:ivyMode;
    --robert-regular:roobert;
    background: var(--nightmare-black,#000);
    color: var(--white,#fff);
}


.container {
    @apply max-w-[1200px] mx-auto w-[90%]
}

.hero_title {
    @apply text-5xl xs:text-6xl sm:text-7xl lg:text-9xl lg:leading-[150px] md:text-8xl font-ivy-mode-regular
}

.white_button {
    @apply py-3 w-fit cursor-pointer px-16 font-robert border border-white tracking-wide font-semibold text-nightmare-black bg-white text-lg capitalize hover:bg-transparent hover:text-white duration-150
}