@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ivyMode;
    src: url(/fonts/IvyMode-Regular.ttf);
}

@font-face {
    font-family: roobert;
    src: url(/fonts/RoobertLight.ttf);
}

:root {
    --nightmare-black:#000;
    --white:#fff;
    --ivy-mode-regular:ivyMode;
    --robert-regular:roobert;
    background: var(--nightmare-black,#000);
    color: var(--white,#fff);
}
::-webkit-scrollbar {
    width: 0;
}

.container {
    @apply max-w-[1200px] mx-auto w-[90%]
}

.hero_title {
    @apply text-5xl xs:text-6xl sm:text-7xl lg:text-9xl lg:leading-[130px] md:text-8xl font-ivy-mode-regular
}

.white_button {
    @apply py-2 sm:py-3 w-fit cursor-pointer px-10 sm:px-20 font-robert border border-white tracking-wide font-semibold text-nightmare-black bg-white text-sm sm:text-lg capitalize hover:bg-transparent hover:text-white duration-150
}
.section_heading {
    @apply text-6xl sm:text-8xl  font-ivy-mode-regular capitalize
}

.work_item {
    @apply w-full flex items-center pb-3 justify-between h-[70px] relative
}
@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.shimmer {
    background: linear-gradient(-80deg, #1d1d1d 0%, #3d3d3d 20%, #1d1d1d 40%, #1d1d1d 100%);
    background-size: 1000px 100%;
    animation: shimmer 4s infinite linear;
    @apply block rounded-lg
}

.input_label {
    @apply text-2xl absolute top-0 left-5 -translate-y-1/2 bg-black font-ivy-mode-regular
}

.input {
    @apply w-full h-[40xpx] border border-zinc-200 p-5 text-2xl outline-none bg-transparent font-robert
}
.textarea {
    @apply input resize-none !h-[150px] 
}

.skill_box {
    @apply w-full hover:bg-zinc-900 duration-300 relative gap-2 flex flex-col justify-center items-center p-5 aspect-square 
}
.skill_box:hover .skill_image {
    @apply opacity-0
}
.skill_box:hover .skill_title {
    @apply opacity-100
}

.skill_left_border {
    @apply absolute left-0 w-[1px] h-full bg-zinc-700
}
.skill_right_border {
    @apply absolute right-[-1px] w-[1px] h-full bg-zinc-700
}
.skill_top_border {
    @apply absolute top-0 -left-[400vw] w-[800vw] h-[1px] bg-zinc-700
}
.skill_bottom_border {
    @apply absolute bottom-[-1px] -left-[400vw] w-[800vw] h-[1px] bg-zinc-700
}